TTAP/Web References/APTONLINESMSGATEWAY/smsservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendSMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phoneNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Client_ID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendSMSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthHeader" type="tns:AuthHeader" />
      <s:complexType name="AuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="SendSMS_New">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phoneNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Client_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="unicode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSMS_NewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendSMS_NewResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendSMSSoapIn">
    <wsdl:part name="parameters" element="tns:SendSMS" />
  </wsdl:message>
  <wsdl:message name="SendSMSSoapOut">
    <wsdl:part name="parameters" element="tns:SendSMSResponse" />
  </wsdl:message>
  <wsdl:message name="SendSMSAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="SendSMS_NewSoapIn">
    <wsdl:part name="parameters" element="tns:SendSMS_New" />
  </wsdl:message>
  <wsdl:message name="SendSMS_NewSoapOut">
    <wsdl:part name="parameters" element="tns:SendSMS_NewResponse" />
  </wsdl:message>
  <wsdl:message name="SendSMS_NewAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:portType name="SMSServiceSoap">
    <wsdl:operation name="SendSMS">
      <wsdl:input message="tns:SendSMSSoapIn" />
      <wsdl:output message="tns:SendSMSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSMS_New">
      <wsdl:input message="tns:SendSMS_NewSoapIn" />
      <wsdl:output message="tns:SendSMS_NewSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SMSServiceSoap" type="tns:SMSServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSMS">
      <soap:operation soapAction="http://tempuri.org/SendSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SendSMSAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSMS_New">
      <soap:operation soapAction="http://tempuri.org/SendSMS_New" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SendSMS_NewAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SMSServiceSoap12" type="tns:SMSServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSMS">
      <soap12:operation soapAction="http://tempuri.org/SendSMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SendSMSAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSMS_New">
      <soap12:operation soapAction="http://tempuri.org/SendSMS_New" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SendSMS_NewAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SMSService">
    <wsdl:port name="SMSServiceSoap" binding="tns:SMSServiceSoap">
      <soap:address location="https://smsgateway.aptonline.in/APOLSMSGW/smsservice.asmx" />
    </wsdl:port>
    <wsdl:port name="SMSServiceSoap12" binding="tns:SMSServiceSoap12">
      <soap12:address location="https://smsgateway.aptonline.in/APOLSMSGW/smsservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>