TTAP/Web References/APTONLINEPGSERVICE/EncryptDEcrypt.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Encrypt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EncryptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EncryptResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Decrypt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DecryptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DecryptResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckSumforRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rquestId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serviceid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="paymentmode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="baseamount" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="checksumkey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckSumforRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckSumforRequestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckSumforResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rquestId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PgRefNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="baseamount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="servcieid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="checksumkey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckSumforResponseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckSumforResponseResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EncryptSoapIn">
    <wsdl:part name="parameters" element="tns:Encrypt" />
  </wsdl:message>
  <wsdl:message name="EncryptSoapOut">
    <wsdl:part name="parameters" element="tns:EncryptResponse" />
  </wsdl:message>
  <wsdl:message name="DecryptSoapIn">
    <wsdl:part name="parameters" element="tns:Decrypt" />
  </wsdl:message>
  <wsdl:message name="DecryptSoapOut">
    <wsdl:part name="parameters" element="tns:DecryptResponse" />
  </wsdl:message>
  <wsdl:message name="CheckSumforRequestSoapIn">
    <wsdl:part name="parameters" element="tns:CheckSumforRequest" />
  </wsdl:message>
  <wsdl:message name="CheckSumforRequestSoapOut">
    <wsdl:part name="parameters" element="tns:CheckSumforRequestResponse" />
  </wsdl:message>
  <wsdl:message name="CheckSumforResponseSoapIn">
    <wsdl:part name="parameters" element="tns:CheckSumforResponse" />
  </wsdl:message>
  <wsdl:message name="CheckSumforResponseSoapOut">
    <wsdl:part name="parameters" element="tns:CheckSumforResponseResponse" />
  </wsdl:message>
  <wsdl:portType name="EncryptDEcryptSoap">
    <wsdl:operation name="Encrypt">
      <wsdl:input message="tns:EncryptSoapIn" />
      <wsdl:output message="tns:EncryptSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Decrypt">
      <wsdl:input message="tns:DecryptSoapIn" />
      <wsdl:output message="tns:DecryptSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckSumforRequest">
      <wsdl:input message="tns:CheckSumforRequestSoapIn" />
      <wsdl:output message="tns:CheckSumforRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckSumforResponse">
      <wsdl:input message="tns:CheckSumforResponseSoapIn" />
      <wsdl:output message="tns:CheckSumforResponseSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EncryptDEcryptSoap" type="tns:EncryptDEcryptSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Encrypt">
      <soap:operation soapAction="http://tempuri.org/Encrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Decrypt">
      <soap:operation soapAction="http://tempuri.org/Decrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckSumforRequest">
      <soap:operation soapAction="http://tempuri.org/CheckSumforRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckSumforResponse">
      <soap:operation soapAction="http://tempuri.org/CheckSumforResponse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EncryptDEcryptSoap12" type="tns:EncryptDEcryptSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Encrypt">
      <soap12:operation soapAction="http://tempuri.org/Encrypt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Decrypt">
      <soap12:operation soapAction="http://tempuri.org/Decrypt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckSumforRequest">
      <soap12:operation soapAction="http://tempuri.org/CheckSumforRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckSumforResponse">
      <soap12:operation soapAction="http://tempuri.org/CheckSumforResponse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EncryptDEcrypt">
    <wsdl:port name="EncryptDEcryptSoap" binding="tns:EncryptDEcryptSoap">
      <soap:address location="https://aptonline.in/ThirdPartyPaymentPG/EncryptDEcrypt.asmx" />
    </wsdl:port>
    <wsdl:port name="EncryptDEcryptSoap12" binding="tns:EncryptDEcryptSoap12">
      <soap12:address location="https://aptonline.in/ThirdPartyPaymentPG/EncryptDEcrypt.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>